<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	<!-- 引用base的配置文件 -->
	<context:property-placeholder location="classpath:jdbc.properties" />

	<!-- c3p0的配置 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driverClass}" />
		<property name="jdbcUrl" value="${jdbc.url}" />
		<property name="user" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>

	<!-- Hibernate的整合 -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<!-- hibernate配置相关属性注入 -->
		<property name="hibernateProperties">
			<props>
				<!-- 方言 -->
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<!-- 更新方式 -->
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<!-- 设置映射文件 -->
		<property name="mappingResources">
			<list>
				<value>com/lzy/crm/domain/User.hbm.xml</value>
				<value>com/lzy/crm/domain/Customer.hbm.xml</value>
				<value>com/lzy/crm/domain/BaseDict.hbm.xml</value>
			</list>
		</property>
	</bean>
	<!--  -->
	<!-- 配置useraction -->
	<bean id="userAction" class="com.lzy.crm.web.action.UserAction" scope="prototype">
		<property name="userService" ref="userService"></property>
	</bean>

	<!-- 配置userservice -->
	<bean id="userService"
		class="com.lzy.crm.service.impl.UserServiceImpl">
		<property name="userDao" ref="userDao"></property>
	</bean>

	<!-- 配置userdao -->
	<bean id="userDao" class="com.lzy.crm.dao.impl.UserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!-- 配置customerAction的bean -->
	<bean id="customerAction" class="com.lzy.crm.web.action.CustomerAction" scope="prototype">
		<property name="customerService" ref="customerService"/>
	</bean>
	<!-- 配置customerService的bean -->
	<bean id="customerService" class="com.lzy.crm.service.impl.CustomerServiceImple">
		<property name="customerDao" ref="customerDao"/>
	</bean>
	<!-- 配置custmerDao的bean -->
	<bean id="customerDao" class="com.lzy.crm.dao.impl.CustomerDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<!-- 配置事物 -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!--配置BaseDictAction  -->
	<bean id="baseDictAction" class="com.lzy.crm.web.action.BaseDirtAction" scope="prototype">
		<property name="baseDictService" ref="baseDictService"/>	
	</bean>
	<!-- 配置BaseDictService -->
	<bean id="baseDictService" class="com.lzy.crm.service.impl.BaseDictServiceImpl">
		<property name="baseDictDao" ref="baseDictDao"/>
	</bean>
	<!-- 配置BaseDictDao -->
	<bean id="baseDictDao" class="com.lzy.crm.dao.impl.BaseDictDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<!-- 开启注解事物 -->
	<tx:annotation-driven transaction-manager="transactionManager" />
</beans>